$primary-bg: #1a1a2e; 
$secondary-bg: #3c2a6d; 
$text-light: #ffffff; 


$light-bg: #f5f0ff; 
$task-card-light: #d4aaff; 
$text-dark: #1a1a2e; 


$task-card: #c49eff;

$color-switch-light: #e0c3ff;
$color-switch-dark: #3c2a6d;

