$primary-bg: #15101c;
$secondary-bg: #3c2a6d;
$text-light: #ffffff;
$done-bg-dark: #c49eff;

$light-bg: #f5f0ff;
$task-card-light: #9e78cf;
$text-dark: #15101c;
$done-bg-light: #f3e8ff;

$task-card: #9e78cf;
$task-card-dark: #15101c;

$accent-dark: #1a1a2e;
$accent-light: #6d4aff;

$color-switch-light: #e0c3ff;
$color-switch-dark: #3c2a6d;
